.examCardDiv{
    padding: var(--fs-24);
}

.examCard{
    width: 100%;
    padding: var(--fs-56) 0;
    border-radius: var(--fs-56);
    border: solid var(--fs-4) var(--primary-color);
    box-shadow: 10px 10px 15px -5px var(--primary-color);
    transition: all 0.3s ease-in-out 0s;

    background-color: var(--primary-color);
    color: white;

    position: relative;
}

.examCard-icon{
    position: absolute;
    rotate: -45deg;
    font-size: var(--fs-56);
    color: var(--primary-color);
    bottom: -25%;
    right: 0;
    transition: all 0.3s ease-in-out 0s;
    opacity: 0;
    z-index: -1;
}

.examCard-ShortTitle{
    /* background-color: var(--primary-color); */
    /* color: white; */
    /* color: var(--primary-color); */
    font-weight: bold;
    font-size: var(--fs-32);
    letter-spacing: var(--fs-2);
    transition: all 0.2s ease-in-out 0s;
}

.examCard:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 0px 0px;
    border: solid var(--fs-4) var(--primary-color);
    color: var(--primary-color);
    
    transition: all 0.3s ease-in-out 0s;
    transform: rotate(5deg);
}

.examCard:hover > .examCard-ShortTitle{
    transform: scale(1.2);
}

.examCard:hover .examCard-icon{
    bottom: -10%;
    /* right: -5%; */
    opacity: 1;
    z-index: 0;
}
