.aboutUs-imgToggled{
    position: fixed;
    top: 0; 
    left: 0;
    height: 0vh;
    width: 100vw;
    opacity: 1;
    z-index: 99;
    background-color: var(--primary-color);

    animation-name: showBlock;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showBlock {
    0%{height: 0vh;}
    100%{height: 100vh;}
}

.aboutUs-imgToggled-icon{
    position: absolute;
    color: #db474c;
    top: 20px;
    right: 30px;
    font-size: 50px;
}

.aboutUs-imgToggled-icon:hover{
    cursor: pointer;
}

.aboutUs-imgToggled-imgDiv{
    width: 90%;
}

.aboutUs-imgToggled-img{
    height: 0%;

    animation-name: showImg;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showImg {
    0%{height: 0%;}
    100%{height: 100%;}
}

@media screen and (min-width: 576px) {
    .aboutUs-imgToggled-imgDiv{
        height: 80%;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .aboutUs-imgToggled-imgDiv{
        height: 95%;
        width: 100%;    }
}

